<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>About Bin2Win</title>
</head>
<body>

    <%- include("./partials/navbar.ejs") %>

    <section class="about-section">
      <h1>About Bin2Win</h1>
      <p>Bin2Win is dedicated to transforming waste management by providing rewards for responsible recycling. Our goal is to create a sustainable future while making recycling an engaging and beneficial experience for everyone.</p>
    </section>

    <%- include("./partials/footer.ejs") %>

</body>
</html>
