<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Contact Bin2Win</title>
</head>
<body>

    <%- include("./partials/navbar.ejs") %>

    <section class="contact-section">
      <h1>Contact Us</h1>
      <p>Email: support@bin2win.com</p>
      <p>Phone: +1-234-567-890</p>
    </section>

    <%- include("./partials/footer.ejs") %>

</body>
</html>
